GITHUB_TOKEN=your_github_models_token
LLM_MODEL=openai/gpt-4.1
DEFAULT_GITHUB_MODELS_BASE_URL=https://models.github.ai/inference

QWEN_MODEL=qwen-plus
QWEN_API_KEY=your_qwen_api_key
QWEN_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

DEEPSEEKER_MODEL=deepseek-chat
DEEPSEEKER_API_KEY=your_deepseek_api_key
DEEPSEEKER_API_URL=https://api.deepseek.com